/* This is where styles are defined for your page. */
/* One style is provided as example. */

html {
  background-image:url("images/xanadu_on_the_map_of_asia.jpg");
  font-family: sans-serif;
  align-items:center;
}

h1,h2,h3,h4,h5,h6 {
  font-family:serif;
}

aside.more-info img{
  width:150px;
  height:auto;
}

.poem{
  list-style-type:none;
  text-align: center;
  border: solid 2px black;
  width: 300px;
  height: auto;
}
